In [1]:
b = 'ganesh'
c = 200
a = ["sanket",'kiran']
print(type(a))
print(a)
print(type(b))
print(b)
print(type(c))
print(c)

<class 'list'>
['sanket', 'kiran']
<class 'str'>
ganesh
<class 'int'>
200

In [2]:
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
print(names)
print(type(names))

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']
<class 'list'>

In [3]:
names
print(names[:3] )
print(names[2:])

['Raj', 'Arjun', 'Priya']
['Priya', 'Kishor', 'Anu']

In [4]:
print(names[3])
print(names[2:])
print(names[:2])
print(names[1:3])

Kishor
['Priya', 'Kishor', 'Anu']
['Raj', 'Arjun']
['Arjun', 'Priya']

In [5]:
print(names)
names[3]="joy"
print(names)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']
['Raj', 'Arjun', 'Priya', 'joy', 'Anu']

In [6]:
# Looping through lists
for j in names:
    print(j)#+'5'+j)

Raj
Arjun
Priya
joy
Anu

In [7]:
# Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

[1, 2, 3, ['a', 'b', [5, 6]]]

In [8]:
# append(): 
print(names)
names.append("Ravina")
print(names)

['Raj', 'Arjun', 'Priya', 'joy', 'Anu']
['Raj', 'Arjun', 'Priya', 'joy', 'Anu', 'Ravina']

In [9]:
print(names)
names.clear()
print(names)

['Raj', 'Arjun', 'Priya', 'joy', 'Anu', 'Ravina']
[]

In [10]:
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
Names1=names.copy()
print(Names1)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [11]:
names.append("Raj")
x=names.count('Raj')
print(x)

2

In [14]:
cars = ['Ford', 'BMW', 'Volvo']
names.extend(cars)
print(names)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [15]:
x=names.index('Anu')
x

4

In [17]:
names.insert(2,'Audi')
print(names)

['Raj', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [18]:
new_list=list(('Audi',"BMW",'Ford'))
print(new_list)

['Audi', 'BMW', 'Ford']

In [19]:
names.pop(2)
#print(names.pop(2))
print(names)
#names.pop(2)
#print(names)
print(len(names))

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']
9

In [20]:
names.remove('Raj')
print(names)

['Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [21]:
names.reverse()
print(names)

['Volvo', 'BMW', 'Ford', 'Raj', 'Anu', 'Kishor', 'Priya', 'Arjun']

In [22]:
names.sort()
print(names)

['Anu', 'Arjun', 'BMW', 'Ford', 'Kishor', 'Priya', 'Raj', 'Volvo']